<div class="row">
  <div class="col-md-8 border-right p-0">
    <div class="filter-section d-flex flex-row">
      <button
        class="btn btn-filter d-flex flex-row align-items-center"
        type="button"
        [ngClass]="{ active: filter }"
        (click)="filter = !filter"
      >
        <img
          class="mr-2"
          src="../../../assets/images/filter_list.svg"
          width="21"
          *ngIf="!filter"
        />
        <img
          class="mr-2"
          src="../../../assets/images/filter_list_white.svg"
          width="21"
          *ngIf="filter"
        />
        Filter
      </button>
      <div class="p-inputgroup inputgroup-section">
        <span class="p-inputgroup-addon"
          ><i class="pi pi-search opacity-3"></i
        ></span>
        <input
          class="form-control form-amount-control border-left-0"
          type="text"
          [(ngModel)]="searchText"
          placeholder="Search for fund"
        />
      </div>
    </div>
    <div class="filter-area" *ngIf="filter">
      <div class="row">
        <div class="col-md-4">
          <p-dropdown
            [options]="assetType"
            class="d-block p-dropdown--40 mb-3 mb-md-0"
            [(ngModel)]="assetTypeFilterValue"
          ></p-dropdown>
        </div>
        <div class="col-md-4">
          <p-dropdown
            [options]="assetSubType"
            class="d-block p-dropdown--40 mb-3 mb-md-0"
            [(ngModel)]="assetSubTypeFilterValue"
          ></p-dropdown>
        </div>
        <div class="col-md-4">
          <p-dropdown
            [options]="fundAssetType"
            class="d-block p-dropdown--40 mb-3 mb-md-0"
            [(ngModel)]="fundAssetTypeFilterValue"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="results-heading" *ngIf="toggleSellingOptions">
      <p class="font-weight-bold mb-0">My Funds</p>
    </div>

    <div
      class="results-section h-100"
      [ngClass]="{ 'results-section-w-filters': filter }"
    >
      <div
        *ngIf="
          (searchList | searchFilter: searchText).length > 0;
          else emptyState
        "
      >
        <div
          class="results-section--item d-flex flex-row"
          *ngFor="
            let item of searchList
              | searchFilter: searchText
              | searchFilter: assetTypeFilterValue
              | searchFilter: assetSubTypeFilterValue
              | searchFilter: fundAssetTypeFilterValue;
            let i = index
          "
        >
          <div class="flex-grow-1 selectable" (click)="showInvestmentDetails()">
            {{ item.name }}
            <div class="row mt-2" *ngIf="toggleSellingOptions">
              <div class="col-md-4">
                <p class="mb-0 text-gray-1">Last closed price 4,300.09p</p>
              </div>
              <div class="col-md-4">
                <p class="mb-0 text-gray-1">Available to trade 5.62</p>
              </div>
              <div class="col-md-4">
                <p class="mb-0 text-gray-1">Tradable value £27.63</p>
              </div>
            </div>
          </div>

          <div class="d-flex flex-column justify-content-center">
            <button
              class="btn btn-sm btn-outline-success btn-sm-table text-uppercase font-weight-600"
              (click)="showDetails(i)"
            >
              <span *ngIf="!toggleSellingOptions"
                ><i class="pi pi-plus mr-1"></i> Add</span
              >
              <span *ngIf="toggleSellingOptions"
                ><i class="pi pi-plus mr-1"></i> Sell</span
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 p-0">
    <div
      class="summary-section d-flex flex-column h-100"
      *ngIf="listDetails.length > 0; else emptyState"
    >
      <div
        class="summary-section--heading d-flex justify-content-between flex-column flex-xl-row"
      >
        <p class="xlarge font-weight-600 mb-0">{{ titleText }}</p>
        <p-selectButton
          *ngIf="toggleSellingOptions"
          [options]="toggleOptions"
          class="p-selectbutton-sm"
          [(ngModel)]="toggleAmountsUnits"
        ></p-selectButton>
      </div>

      <div
        class="summary-section--content flex-grow-1"
        [ngClass]="{ 'summary-section-w-filters': filter }"
        *ngIf="toggleAmountsUnits === 1"
      >
        <div
          class="summary-section--content--item d-flex flex-row"
          *ngFor="let list of listDetails; let i = index"
        >
          <div class="flex-grow-1">
            <p>
              {{ list.name }}
            </p>
            <!-- <p *ngIf="toggleSellingOptions" class="mb-0">Units value</p> -->
            <a
              class="text-info"
              href="javascript:void(0)"
              (click)="removeDetails(i)"
              >Remove</a
            >
          </div>
          <div>
            <div class="w-115 mb-3">
              <div class="p-inputgroup inputgroup-section">
                <span class="p-inputgroup-addon">£</span>
                <input
                  class="form-control form-amount-control border-left-0 text-right"
                  type="text"
                  [(ngModel)]="list.value"
                />
              </div>
            </div>
            <!-- <p *ngIf="toggleSellingOptions" class="text-right xlarge">
              £ {{ list.value }}
            </p> -->
          </div>
        </div>
      </div>
      <div
        class="summary-section--content flex-grow-1"
        *ngIf="toggleAmountsUnits === 2"
      >
        <div
          class="summary-section--content--item d-flex flex-row"
          *ngFor="let list of listDetails; let i = index"
        >
          <div class="flex-grow-1">
            <p>
              {{ list.name }}
            </p>
            <p class="mb-0" >Units value</p>
            <a
              class="text-info"
              href="javascript:void(0)"
              (click)="removeDetails(i)"
              >Remove</a
            >
          </div>
          <div>
            <div class="w-115 mb-3">
              <div class="p-inputgroup inputgroup-section">
                <span class="p-inputgroup-addon"></span>
                <input
                  class="form-control form-amount-control border-left-0 text-right"
                  type="text"
                  [(ngModel)]="list.units"
                />
              </div>
            </div>
            <p class="text-right xlarge">
              £ {{ list.value | currencyCommasHundreds }}
            </p>
          </div>
        </div>
      </div>
      <div class="summary-section--warning">
        <div class="warning-message d-flex flex-row align-items-center">
          <i class="pi pi-info-circle mr-2"></i>
          <p class="mb-0">
            It seems that you have insufficient balance please add money to
            proceed or reduce allocation
          </p>
        </div>
      </div>

      <div
        class="summary-section--footer d-flex flex-row justify-content-between"
      >
        <p class="xlarge mb-0 font-weight-bold">Total</p>
        <p class="xlarge mb-0 font-weight-bold">£ {{ getTotal() }}</p>
      </div>
      <div class="summary-section--actions">
        <button
          class="btn btn-success mr-2"
          (click)="showSummary(toggleSellingOptions)"
        >
          {{ submitButtonText | uppercase }}
        </button>
        <button class="btn btn-light">CLEAR</button>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyState>
  <div
    class="empty-state d-flex flex-column justify-content-center align-items-center p-5 h-100 text-center"
  >
    <i class="empty-state-2 mb-3"></i>
    <p class="text-center">Search for fund to start investing</p>
  </div>

  <ng-template #emptyState>
    <div
      class="empty-state d-flex flex-column justify-content-center align-items-center p-5 h-100 text-center"
    >
      <i class="empty-state-3 mb-3"></i>
      <p class="text-center">Search for fund to start investing</p>
    </div>
  </ng-template>

  <p-dialog
    class="footer-w-border"
    [(visible)]="displayInvestmentDetail"
    [style]="{ width: '50vw' }"
    [modal]="true"
  >
    <p-header>
      <h6>Stewart Investors Global Emerging Markets Leaders</h6>
    </p-header>
    <div class="row mb-3">
      <div class="col-md-4 font-weight-600 text-secondary">Asset type</div>
      <div class="col-md-8 text-dark-gray">Fund</div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 font-weight-600 text-secondary">Asset sub type</div>
      <div class="col-md-8 text-dark-gray">OEIC</div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 font-weight-600 text-secondary">Fund code</div>
      <div class="col-md-8 text-dark-gray">QI59A</div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 font-weight-600 text-secondary">Fund asset type</div>
      <div class="col-md-8 text-dark-gray">Equity</div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 font-weight-600 text-secondary">Fund name long</div>
      <div class="col-md-8 text-dark-gray">Stewart Investors Global</div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 font-weight-600 text-secondary">ISIN</div>
      <div class="col-md-8 text-dark-gray">Emerging Markets Leaders</div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4 font-weight-600 text-secondary">Fund currency</div>
      <div class="col-md-8 text-dark-gray">GB0033874545</div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4 font-weight-600 text-secondary">Pricing method</div>
      <div class="col-md-8 text-dark-gray">GBX</div>
    </div>

    <p-footer class="border-top pt-3 p-3 d-flex justify-content-end">
      <button class="btn btn-light" (click)="displayInvestmentDetail = false">
        CANCEL
      </button>
      <button class="btn btn-success" (click)="displayInvestmentDetail = false">
        OK
      </button>
    </p-footer>
  </p-dialog>
</ng-template>

<p-dialog
  class="footer-w-border"
  [(visible)]="displaySellingSummary"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <!-- SELL Summary POPUP-->
  <p-header>
    <h6>Selling Summary</h6>
    <p class="text-gray-1 text-gray-1 font-size-12 font-weight-normal">
      Please confirm before selling
    </p>
  </p-header>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="item-summary">
        <div class="item-summary-content">
          <div class="row">
            <div class="col-md-8">
              <p>JPM US Select</p>
            </div>
            <div class="col-md-4 text-right">£ 1000.00</div>
          </div>
        </div>
        <div class="item-summary-footer">
          <div class="row">
            <div class="col-md-8 font-weight-bold">Total</div>
            <div class="col-md-4 text-right">£ 1000.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-footer class="border-top pt-3 p-3 d-flex justify-content-end">
    <button class="btn btn-light" (click)="displaySellingSummary = false">
      CANCEL
    </button>
    <button
      class="btn btn-success"
      (click)="orderPlacedConfirmation = true; displaySellingSummary = false"
    >
      SELL NOW
    </button>
  </p-footer>
</p-dialog>

<p-dialog
  class="footer-w-border"
  [(visible)]="displayBuyingSummary"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <!-- SELL Summary POPUP-->
  <p-header>
    <h6>Buying Summary</h6>
    <p class="text-gray-1 text-gray-1 font-size-12 font-weight-normal">
      Please confirm before buying
    </p>
  </p-header>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="item-summary">
        <div class="item-summary-content">
          <div class="row">
            <div class="col-md-8">
              <p>JPM US Select</p>
            </div>
            <div class="col-md-4 text-right">£ 1000.00</div>
          </div>
        </div>
        <div class="item-summary-footer">
          <div class="row">
            <div class="col-md-8 font-weight-bold">Total</div>
            <div class="col-md-4 text-right">£ 1000.00</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4">
      <p-checkbox
        class="checkbox-success"
        [(ngModel)]="value"
        binary="true"
        inputId="binary"
        label="I have read the Key information document for this order. I agree with Acorn policies and the illustrations.  "
      ></p-checkbox>
    </div>
  </div>
  <p-footer class="border-top pt-3 p-3 d-flex justify-content-end">
    <button class="btn btn-light" (click)="displayBuyingSummary = false">
      CANCEL
    </button>
    <button
      class="btn btn-success"
      (click)="orderPlacedConfirmation = true; displayBuyingSummary = false"
    >
      BUY NOW
    </button>
  </p-footer>
</p-dialog>

<p-dialog
  class="footer-w-border"
  [(visible)]="displayTermsCondition"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <!-- Terms And Condition POPUP-->
  <p-header>
    <h6>Before you continue please agree to our terms and conditions</h6>
  </p-header>
  <div class="row mb-3">
    <div class="col-md-12">
      <p class="mb-5">
        Money from the sale of an OEIC or Unit trust can be paid directly to
        your bank account. Money from the sale of an Exchange traded instrument
        will be paid as cash to your Acorn account and can be withdrawn once
        settled. Please remember that Funds are priced on a forward basis. This
        means you do not know the exact price you will get for sell until after
        the transaction is priced. The prices you can see on our website are
        historic prices from previous pacing points. We accept instructions for
        a given fund up to a 'cut-off point, which for most funds on our
        platform is 11 am Monday to Friday. For more information please contact
        your fund manager.
      </p>
    </div>
    <div class="col-md-12">
      <p-checkbox
        class="checkbox-success"
        [(ngModel)]="value"
        binary="true"
        inputId="binary"
        label="I have read the Key information document for this order. I agree with Acorn policies and the illustrations"
      ></p-checkbox>
    </div>
  </div>
  <p-footer class="border-top pt-3 p-3 d-flex justify-content-end">
    <button class="btn btn-light" (click)="displayTermsCondition = false">
      CANCEL
    </button>
    <button
      class="btn btn-success"
      (click)="displaySellingSummary = true; displayTermsCondition = false"
    >
      I UNDERSTAND
    </button>
  </p-footer>
</p-dialog>

<p-dialog
  class="heading-none footer-w-border"
  [(visible)]="displayReviewDetails"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <p-header>
    <h6></h6>
  </p-header>
  <div class="row mb-3">
    <div class="col-md-12">
      <h6>Please review our fees for the next 12 months before buying</h6>
      <p class="text-gray-1 text-gray-1 font-size-12 font-weight-normal">
        Over the next year here’s what we estimate your’ll pay, based on your
        current contributions. Your actual costs may vary based on the
        performance of your investments
      </p>
    </div>
    <div class="col-md-12">
      <div class="item-summary h-100">
        <div class="item-summary-content noscroll">
          <div class="px-3 border-bottom">
            <div class="row">
              <div
                class="col-md-6 d-flex flex-column justify-content-center border-right"
              >
                <div class="my-3">
                  <p class="mb-0">Service Fee</p>
                  <p
                    class="text-gray-1 text-gray-1 font-size-12 font-weight-normal mb-0"
                  >
                    What we charge for administering your investment
                  </p>
                </div>
              </div>
              <div
                class="col-md-3 d-flex align-items-center justify-content-end font-size-18 border-right"
              >
                <div class="my-3">0.51%</div>
              </div>
              <div
                class="col-md-3 d-flex align-items-center justify-content-end font-size-18"
              >
                <div class="my-3">£6.00</div>
              </div>
            </div>
          </div>
          <div class="px-3 border-bottom">
            <div class="row">
              <div
                class="col-md-6 d-flex flex-column justify-content-center border-right"
              >
                <div class="my-3">
                  <p class="mb-0">Investment fund costs</p>
                  <p
                    class="text-gray-1 text-gray-1 font-size-12 font-weight-normal mb-0"
                  >
                    What the fund manager charges
                  </p>
                </div>
              </div>
              <div
                class="col-md-3 d-flex align-items-center justify-content-end font-size-18 border-right"
              >
                <div class="my-3">0.13%</div>
              </div>
              <div
                class="col-md-3 d-flex align-items-center justify-content-end font-size-18"
              >
                <div class="my-3">£2.00</div>
              </div>
            </div>
          </div>
          <div class="px-3">
            <div class="row">
              <div
                class="col-md-6 d-flex flex-column justify-content-center border-right"
              >
                <div class="my-3">
                  <p class="mb-0">Market spread</p>
                  <p
                    class="text-gray-1 text-gray-1 font-size-12 font-weight-normal mb-0"
                  >
                    The difference between the buy price and the sell price
                  </p>
                </div>
              </div>
              <div
                class="col-md-3 d-flex align-items-center justify-content-end font-size-18 border-right"
              >
                <div class="my-3">0.06%</div>
              </div>
              <div
                class="col-md-3 d-flex align-items-center justify-content-end font-size-18"
              >
                <div class="my-3">£1.00</div>
              </div>
            </div>
          </div>

          <div class="item-summary-footer py-0">
            <div class="">
              <div class="row">
                <div
                  class="col-md-6 font-weight-bold d-flex flex-column justify-content-center border-right"
                >
                  <div class="my-3">
                    <p class="mb-0">Total</p>
                    <p
                      class="text-gray-1 text-gray-1 font-size-12 font-weight-normal mb-0"
                    >
                      The total you will be paying
                    </p>
                  </div>
                </div>
                <div
                  class="col-md-3 d-flex align-items-center justify-content-end font-size-18 border-right"
                >
                  <div class="my-3">0.06%</div>
                </div>
                <div
                  class="col-md-3 d-flex align-items-center justify-content-end font-size-18"
                >
                  <div class="my-3">£ 9.00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-footer class="border-top pt-3 p-3 d-flex justify-content-end">
    <button class="btn btn-light" (click)="displayReviewDetails = false">
      CANCEL
    </button>
    <button
      class="btn btn-success"
      (click)="displayBuyingSummary = true; displayReviewDetails = false"
    >
      PROCEED BUYING
    </button>
  </p-footer>
</p-dialog>

<p-dialog
  class="p-dialog-w-banner footer-w-border"
  [(visible)]="orderPlacedConfirmation"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <p-header class="p-dialog-header-banner">
    <div class="mb-3"><i class="pi pi-check-circle font-size-32"></i></div>
    <h5 class="regular">Your order has been placed</h5>
    <h5 class="regular font-weight-normal">Reference number : 234098234</h5>
  </p-header>
  <div class="row mb-3 mt-5">
    <div class="col-md-12">
      <div class="item-summary">
        <div class="item-summary-content noscroll">
          <div class="row p-3">
            <div class="col-md-8">
              <p class="mb-0">JPM US Select</p>
            </div>
            <div class="col-md-4 text-right">£ 1000.00</div>
          </div>
        </div>
        <div class="item-summary-footer">
          <div class="row">
            <div class="col-md-8 font-weight-bold">Total</div>
            <div class="col-md-4 text-right font-weight-bold">£ 1000.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-footer class="border-top pt-3 p-3 d-flex align-items-center">
    <p class="flex-grow-1 text-left text-gray-1 ml-2">
      <i class="pi pi-download mr-2"></i>Download Report
    </p>
    <button class="btn btn-light">CANCEL</button>
    <button
      class="btn btn-success"
      (click)="
        orderPlacedConfirmation = false;
        displayReviewDetails = false;
        displayTermsCondition = false;
        displaySellingSummary = false;
        displayBuyingSummary = false
      "
    >
      OK
    </button>
  </p-footer>
</p-dialog>

<p-toast position="top-center"></p-toast>
