<div class="wrapper m-4">
    <div>
        <h4>{{alertHeader}}</h4>
        <hr />
    </div>

    <div class="row mb-4">
        <div class="col-md-12">
            <div class="form-row align-items-center">
                <div class="col-md-3">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <label class="font-weight-bold">Name:</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control p-3" type="text" [(ngModel)]="searchBy.name" pInputText
                                placeholder="name" maxlength="255" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <label class="font-weight-bold">Kind of Qty:</label>
                        </div>
                        <div class="col-md-7">
                            <p-dropdown [options]="kindOfQuantitySearchList" [(ngModel)]="searchBy.kindOfQuantity">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <label class="font-weight-bold">Print:</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control p-3" type="text" [(ngModel)]="searchBy.print" pInputText
                                placeholder="print" maxlength="255" />
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="form-row align-items-center">
                <div class="col-md-3">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <label class="font-weight-bold">Metric Unit:</label>
                        </div>
                        <div class="col-md-7">
                            <p-dropdown [options]="metricUnitSearchDropdown" [(ngModel)]="searchBy.isAMetricUnit">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <label class="font-weight-bold">Definition Value:</label>
                        </div>
                        <div class="col-md-7">
                            <input numericText class="form-control p-3" type="text"
                                [(ngModel)]="searchBy.definitionValue" pInputText placeholder="definition value"
                                maxlength="11" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <label class="font-weight-bold">Definition Value Text:</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control p-3" type="text" [(ngModel)]="searchBy.definitionValueText"
                                pInputText placeholder="definition value text" maxlength="255" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <label class="font-weight-bold">Definition Unit:</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control p-3" type="text" [(ngModel)]="searchBy.definitionUnit" pInputText
                                placeholder="definition unit" maxlength="255" />
                        </div>
                    </div>
                </div> -->
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-auto">
                            <button type="button" (click)="search()" pButton pRipple icon="pi pi-search"
                                styleClass="p-button-warn" title="Search"></button>
                        </div>
                        <div class="col-auto">
                            <button type="button" (click)="refreshSearchFields()" pButton pRipple icon="pi pi-refresh"
                                styleClass="p-button-warn" title="Clear Search Fields"></button>
                        </div>
                        <div class="col-auto">
                            <button type="button" (click)="onAddButtonClick(dt)" pButton pRipple icon="pi pi-plus"
                                styleClass="p-button-warn" title="Add New Record"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p-table #dt [value]="uomList" dataKey="id" editMode="row" [lazy]="true" (onLazyLoad)="loadUOMList($event)"
            [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 15, 20, 50]" [totalRecords]="totalRecords" [loading]="loading">
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th style="width: 6rem;" class="tbl-hdr-cell-small">Id</th> -->
                    <th style="width: 15%;" class="tbl-hdr-cell-small">Name</th>
                    <th class="tbl-hdr-cell-small">Description</th>
                    <th class="tbl-hdr-cell-small">Kind of Quantity</th>
                    <th style="width: 10%;" class="tbl-hdr-cell-small">Print</th>
                    <th style="width: 12%;" class="tbl-hdr-cell-small">Is a Metric Unit?</th>
                    <!-- <th class="tbl-hdr-cell-small">Definition Value</th>
                    <th class="tbl-hdr-cell-small">Definition Value Text</th>
                    <th class="tbl-hdr-cell-small">Definition Unit</th> -->
                    <th style="width: 8rem;" class="tbl-hdr-cell-small"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-uom let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="uom">
                    <!-- <td style="width: 10rem;" class="tbl-cell-small">
                        {{ uom.id > 0 ? uom.id : "" }}
                    </td> -->
                    <td class="tbl-cell-small">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="uom.name" maxlength="255"
                                (input)="inputEvent(uom)"
                                    class="form-control editable-cell-input" />
                                    <p class="info-message text-danger"
                                    *ngIf="uom['invalidInput']">
                                    This is a mandatory field, max length is limited to 256 and can only contains Alpha-Numeric, Coma, Hyphen and Decimal point.</p>
                                   
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ uom.name }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="tbl-cell-small tbl-cell-description" pTooltip="{{uom.description}}"
                        tooltipPosition="top">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="uom.description" maxlength="256"
                                (input)="inputEvent(uom)"
                                    class="form-control editable-cell-input" />
                                    <p class="info-message text-danger"
                                    *ngIf="uom['invalidInputDes']">
                                    This is a mandatory field, max length is limited to 256 and can only contains Alpha-Numeric, Coma, Hyphen and Decimal point.</p>
                                 
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ uom.description }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="tbl-cell-small">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="kindOfQuantityEditList" [(ngModel)]="uom.kindOfQuantity"
                                    editable="true" styleClass="form-control editable-cell-select" maxlength="255">
                                </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ uom.kindOfQuantity }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="tbl-cell-small">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="uom.print" maxlength="256"
                                (input)="inputEvent(uom)"
                                    class="form-control editable-cell-input" />
                                    <p class="info-message text-danger"
                                    *ngIf="uom['invalidInputPrint']">
                                    This is a mandatory field, max length is limited to 256 and can only contains Alpha-Numeric, Coma, Hyphen and Decimal point.</p>
                                 
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ uom.print }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="tbl-cell-small">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="metricUnitEditDropdown" [(ngModel)]="uom.isAMetricUnit"
                                    styleClass="form-control editable-cell-select" class="ignore-ellipsis">
                                </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ uom.isAMetricUnit ? "Yes" : "No" }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <!-- <td class="tbl-cell-small">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText numericText type="text" [(ngModel)]="uom.definitionValue"
                                    maxlength="11" class="form-control editable-cell-input" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ uom.definitionValue }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="tbl-cell-small">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="uom.definitionValueText" maxlength="255"
                                    class="form-control editable-cell-input" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ uom.definitionValueText }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="tbl-cell-small">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="uom.definitionUnit" maxlength="255"
                                    class="form-control editable-cell-input" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ uom.definitionUnit }}
                            </ng-template>
                        </p-cellEditor>
                    </td> -->
                    <td style="text-align: center;" class="tbl-cell-small">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                            (click)="onRowEditInit(uom)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                            (click)="onRowEditSave(uom, dt, ri)"
                            class="p-button-rounded p-button-text p-button-success p-mr-2"
                            [disabled]="!uom.name  || uom['invalidInput']  || uom['invalidInputDes']  || uom['invalidInputPrint']"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                            (click)="onRowEditCancel(uom, ri)"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-alert [alertHeader]="alertHeader" [alertBody]="alertBody" [showAlert]="showAlert" [alertType]="alerttype"
    (alertClose)="showAlert = false">
</app-alert>