<div class="offset-4 col-4">
  <div class="d-flex justify-content-center">

    <a _ngcontent-cda-c37="" href="#" class="navbar-brand"><img _ngcontent-cda-c37=""
        src="../../../assets/images/logo.png" alt="Logo"></a>

  </div>
  <div class="d-flex justify-content-center">
    <h4>Reset Your Password</h4>
  </div>
  <br />
  <p class="mb-35">Enter details below to <span href="javascript:void(0)" class="text-info font-weight-bold">reset the
      password</span> of your account.</p>

  <form #fSetPassword="ngForm" autocomplete="off" 
  (ngSubmit)="clickResetPassword()"
  [formGroup]="setPasswordForm" >
    <div class="form-group">
      <label class="font-weight-bold">New Password</label>
      <span class="p-input-icon-right" style="display: block;">
        <i class="pi" name="icreate" [ngClass]="isPasswordType?'pi-eye-slash': 'pi-eye'"
          (click)="togglePasswordText()" style="cursor: pointer;"></i>
        <input class="form-control" formControlName="password" autocomplete="current-password"
          [(ngModel)]="resetPasswordDto.password"
          [type]="isPasswordType?'password':'text'" 
          [ngClass]="{'form-control--error':(password.invalid && (password.touched || password.dirty)) }"
          required />
      </span>
      <p>
      </p>
      <p class="info-message text-danger"
        *ngIf="(password.errors?.required && (password.touched || password.dirty || fSetPassword.submitted))">
        Password is required</p>
      <p class="info-message text-danger"
        *ngIf="(password.errors && (password.touched || password.dirty || fSetPassword.submitted))">
        Choose a password with at least six characters, and at least one capital letter, number or symbol</p>
      <!-- <password-strength-meter [password]="password.value" [enableFeedback]="true"
        ></password-strength-meter> -->
    </div>

    <!-- <p class="info-message text-gray">Password Strength - Choose a password with at least six characters,
      and
      at least one capital letter, number or symbol </p> -->

    <div class="form-group">
      <label class="font-weight-bold">Confirm Password</label>
      <span class="p-input-icon-right" style="display: block;">
        <i class="pi" name="icreate" [ngClass]="isConfirmPasswordType?'pi-eye-slash': 'pi-eye'"
          (click)="toggleConfirmPasswordText()" style="cursor: pointer;"></i>
        <input class="form-control" formControlName="confirmPassword" onPaste="return false"
          [(ngModel)]="passwordConfirm"
          autocomplete="confirm-password"
          [type]="isConfirmPasswordType?'password':'text'"
          [ngClass]="{'form-control--error': (confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)) }"
          required />
      </span>
      <p>
      </p>
      <p class="info-message text-danger"
        *ngIf="(confirmPassword.errors?.required && (confirmPassword.touched || confirmPassword.dirty || fSetPassword.submitted)) ">
        Confirm password is required</p>
      <p class="info-message text-danger"
        *ngIf="!confirmPassword.errors && ((confirmPassword.touched || confirmPassword.dirty || fSetPassword.submitted) && passwordConfirm !=  resetPasswordDto.password)">
        Confirm password is mis-match</p>
    </div>

    <button class="btn btn-primary btn-block text-uppercase btn-lg mt-35" type="submit"
      >Reset Password</button>
  </form>

</div>

<p-dialog header=" " [(visible)]="islSuccessPopup" modal="true">
  <div class="text-center pr-30 pl-30 mw-460">
    <img class="mb-20" src="../../../../assets/images/confirm-icon.jpg" />
    <h6 class="mb-20">Success.</h6>
    <p> Your password is reset successfully.</p>
    <button class="btn btn-primary mt-15" (click)="gotoLogin()">LOGIN</button>
  </div>
</p-dialog>

<p-dialog header=" " [(visible)]="isErrorPopup" modal="true">
  <div class="text-center pr-30 pl-30 mw-460">
    <img class="mb-20" src="../../../../assets/images/error-image.png" />
    <h5 class="text-danger-light">Oops</h5>
    <h6 class="mb-20 text-danger-light">Something went wrong</h6>
    <p> Please try again.</p>
    <button class="btn btn-primary mt-15" (click)="isErrorPopup = !isErrorPopup">Close</button>
  </div>
</p-dialog>