<div class="main--content d-flex flex-column flex-grow-1"> 

        <div class="main--content--card main--content--nocard flex-grow-1">
              
            <div class="row mt-5">
                    <div class="col-md-12">
                        <p-card class="p-adjust">
                            <div class="p-25 text-center">
                                <div class="empty-state d-flex align-items-center justify-content-center flex-column h-100 mb-5">
                                    <i class="empty-state-4"></i>
                                </div>
                                <h3 class="regular mb-3">Oops!! We cant seem to find the page you’re looking for!</h3>
                                <p class="info-message text-gray">The page you were looking for appears to have been moved, deleted or does not exist. <br/>You can go back to the home page by clicking below.</p>
                                <button class="btn btn-success mr-3" pButton type="button" label="TAKE ME HOME"></button>
                            </div>
                           
                        </p-card>
                    </div>
            </div>
    
        </div>
</div>
